/* Options Framework Admin Styles */

.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
#optionsframework {
	position:relative;
	z-index: 0;
	max-width:90%;
	background:#F5F5F5;
}
#optionsframework h3 {
	cursor: default;
	height: 25px;
	font-family:Arial, Helvetica, sans-serif;
	color: #FFF;
	height: 25px;
	font-size: 20px;
	text-align: center;
    text-shadow: 0 1px #000000;
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 32%, rgba(32,124,202,1) 59%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(32%,rgba(41,137,216,1)), 		color-stop(59%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 32%,rgba(32,124,202,1) 59%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 32%,rgba(32,124,202,1) 59%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 32%,rgba(32,124,202,1) 59%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 32%,rgba(32,124,202,1) 59%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
	line-height: 1.4em;
}
#optionsframework .section {
	padding:10px 10px 0;
}
#optionsframework .group {
	background: url("../images/d5logo.png") no-repeat scroll center bottom transparent;
    padding-bottom: 90px;
}
#optionsframework .section .heading {
	padding:10px 0px;
	margin:0 0 15px;
	border-bottom: 1px solid #dfdfdf;
}
#optionsframework .section .controls {
	float: left;
	min-width:350px;
	width: 54%;
	padding-right:2%;
}
#optionsframework .section .explain {
	max-width:38%;
	float: left;
	font-size: 12px;
	line-height:16px;
	color: #777;
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:94%;
}
#optionsframework .of-input {
	width:100%;
}
#optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom:10px;
	width:100%;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	width: 30px;
	margin-top:2px;
	float:left;
	clear:both;
}
#optionsframework .section-typography .controls {
	float:none;
	width:auto;
}
#optionsframework .section-typography .explain {
	float:none;
	width:auto;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	float:left
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;	
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .section-background .wp-picker-container {
	margin-bottom:10px;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width:74%;
}

/* Editor */

#optionsframework .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
}

/* Image Uploader */

#optionsframework .controls input.upload {
	width:80%;
}
#optionsframework .controls input.upload_button {
	float:right;
	border-color:#BBBBBB;
	cursor:pointer;
}
#optionsframework .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .remove-image {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .remove-button {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ECECEC;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#optionsframework .button-primary {
	float:right;
}
#optionsframework .section:after {
	content: "";
	display: table;
}
#optionsframework .section:after {
	clear: both;
}

/* ----------------------- Custom ---------------------- */
#optionsframework .donation  {
    font-size: 15px;
    line-height: 1.5;
}

#optionsframework .donation a {
   	text-decoration: none;
    color: #14aafd;
}

#optionsframework .featured-area-title {
   	color: #0EC2EA;
    float: left;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    padding: 0 100px 10px 0;
    text-shadow: -1px 1px 1px #FFFFFF;
}

textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
    border-color: #CCCCCC;
    padding: 5px;
	line-height: 1.5;
}

.infohead { background:url("../../images/logo-op.png") no-repeat scroll right bottom #333333; border: 3px solid #14AAFD; border-radius: 10px; color: #EEEEEE; padding: 10px; text-shadow: -1px -1px 0 #000000; transition:all .75s; -moz-transition:all .75s; -o-transition:all .75s; -webkit-transition:all .75s; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.infohead:hover { background: url("../../images/logo-op.png") no-repeat scroll right bottom #111111; border: 3px solid #ee510c; }
a.extendlink { float: right; height: 50px; width: 290px; }